@rendermode InteractiveServer
<MudCard>
    <MudCardContent>
        <MudAlert Severity="Severity.Normal">History</MudAlert>
        @* <MudText>History</MudText> *@
        @* <MudDivider /> *@
            @foreach (var message in Messages)
            {
            <MudText Typo="Typo.body2" Class="mt-2">@message </MudText>
            <MudDivider />
            }
       
    </MudCardContent>    
</MudCard>


@* <MudText Typo="Typo.h6" Class="chat-history-title">History</MudText><br>
<div class="border p-2 rounded">   
    @foreach (var message in Messages)
    {
        <p>@message</p>
    }
</div> *@
@code {
    [Parameter] public List<string> Messages { get; set; } = new List<string>{""};

    // Passing a complex object
    [Parameter] public HistoryModel UserData { get; set; } = new HistoryModel();

    public class HistoryModel
    {
        public string Name { get; set; }
        public int Age { get; set; }
    }
}
